.container{
    width: 1000px;
    margin: auto;
}

.box{
    width: 100%;
    margin: auto;
    border: 2px solid;
}

.box .box_1{
    width: 45%;
    margin: auto;
}

.box_1 img{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    padding: 20px 30px;
}

.box1{
    width: 25%;
    margin: auto;
    border: 2px solid black;
    padding: 20px 30px;
}
